
main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100vw;
  max-width: 620px;
  border: 1px solid rgb(86, 86, 86); 
  background: rgb(50, 50, 50);
  border-radius: 6px;
  color: rgb(234, 234, 234);
  padding: 1rem;
}

input {
  padding: 0.5rem;
  border: 1px solid rgb(86, 86, 86); 
  border-radius: 6px;
  background: rgb(44, 44, 44);
  color: rgb(234, 234, 234);
  width: 100%;
}

ul {
  list-style: none;
}

li {
  padding: 0.5rem;
  border: 1px solid rgb(86, 86, 86); 
  border-radius: 6px;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

#done > li {
  color: rgb(132, 132, 132);
  display: flex;
  justify-content: space-between;
}

#done p {
  text-decoration: line-through;
}
